// FIXTURES
.fixtures.fixtures--head          
  // content
  .fixtures__wrapper
    .container
      .row.row--no-margin
        .col-12.col-lg-4.fixtures__col
          .fixtures-team
            .fixtures-team__name SCARLETS
            .fixtures-team__logo
              //- img(src='img/logo-scarlets.png' srcset='img/logo-scarlets@2x.png 2x')
              picture(
                alt="image"
                area-label="Image description")
                // 1200 +
                source(
                  media="(min-width: 1200px)" 
                  srcset="https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-scarlets.png 1x, https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-scarlets_2x.png 2x")
                // 1200 - 576 and above
                source(
                  media="(min-width: 576px)" 
                  srcset="https://res.cloudinary.com/dragons/image/upload/c_fill,w_120/v1542801228/Team%20logos/logo-scarlets.png 1x, https://res.cloudinary.com/dragons/image/upload/c_fill,w_240/v1542801228/Team%20logos/logo-scarlets_2x.png 2x")
                // 576px and less
                source(
                  media="(min-width: 0px)" 
                  srcset="https://res.cloudinary.com/dragons/image/upload/c_fill,w_70/v1542801228/Team%20logos/logo-scarlets.png 1x, https://res.cloudinary.com/dragons/image/upload/c_fill,w_140/v1542801228/Team%20logos/logo-scarlets_2x.png 2x")
                // fallback
                img(src="https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-scarlets.png" alt="image description")


        .col-12.col-lg-4.fixtures__col.fixtures__col--center
          .fixtures__result
            .fixtures__result-left 17
            .fixtures__result-center V
            .fixtures__result-right 31
          
          .fixtures__scope
            .fixtures__title SATURDAY SEPTEMBER 22 <br> KO 5:15 PM
            .fixtures__place GP 14<br> PRINCIPALITY STADIUM, <br>CARDIFF
            
              
        .col-12.col-lg-4.fixtures__col
          .fixtures-team.fixtures-team--right
            .fixtures-team__name DRAGONS
            .fixtures-team__logo
              //- img(src='img/logo-dragons.png' srcset='img/logo-dragons@2x.png 2x')
              picture(
                alt="image"
                area-label="Image description")
                // 1200 +
                source(
                  media="(min-width: 1200px)" 
                  srcset="https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-dragons.png 1x, https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-dragons_2x.png 2x")
                source(
                  media="(min-width: 576px)" 
                  srcset="https://res.cloudinary.com/dragons/image/upload/c_fill,w_85/v1542801228/Team%20logos/logo-dragons.png 1x, https://res.cloudinary.com/dragons/image/upload/w_170,c_fill/v1542801228/Team%20logos/logo-dragons_2x.png 2x")
                // 576px and less
                source(
                  media="(min-width: 0px)" 
                  srcset="https://res.cloudinary.com/dragons/image/upload/c_fill,w_50/v1542801228/Team%20logos/logo-dragons.png 1x, https://res.cloudinary.com/dragons/image/upload/c_fill,w_100/v1542801228/Team%20logos/logo-dragons_2x.png 2x")
                // fallback
                img(src="https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-dragons.png" alt="image description")


  .fixtures__head-nav
    // head
    .container      
      .row.align-items-center
        .col-12.col-md
          .h2-title(js-tab-title) MATCH REPORT
          
        .col-12.col-md-auto
          ul.tabs-nav.tabs-nav--no-pad(js-tabs)
            li
              a.is-active(href="#" data-target="match-report") MATCH REPORT
            li 
              a(href="#" data-target="line-ups") LINE UPS
            li 
              a(href="#" data-target="statistics") STATISTICS
            li
              a(href="#" data-target="timeline") TIMELINE
          
