// FIXTURES
.fixtures(aria-label="Fixtures")
  .fixtures__head
    // head
    .container      
      .row.align-items-center
        .col-12.col-md
          .h3-title PROGRAMME
          
        .col-12.col-md-auto
          ul.tabs-nav.tabs-nav--white(aria-label="Fixtures navigation")
            li
              a.is-active(href="#") NEXT GAME
            li 
              a(href="#") TABLES
            li 
              a(href="#") RESULTS
                  
  // content
  .fixtures__wrapper
    .container
      .row.row--no-margin(itemscope itemtype="http://schema.org/SportsEvent")
        meta(itemprop="startDate" content="2018-08-26T09:00:00+00:00")
        meta(itemprop="endDate" content="2018-08-26T11:00:00+00:00")
        span(itemprop="location" itemscope itemtype="https://schema.org/Place")
          meta(itemprop="name" content="Rodney Parade")
          meta(itemprop="address" content="NP19 0UU Rodney Parade, Newport, Gwent")
        meta(itemprop="name" content="Rubgy match SCARLETS vs DRAGONS")
        .col-12.col-lg-4.fixtures__col
          .fixtures-team(itemprop="awayTeam" itemscope itemtype="https://schema.org/SportsTeam")
            meta(itemprop="logo" content="https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-scarlets.png")
            meta(itemprop="sport" content="Rubgy")
            .fixtures-team__name(itemprop="name") SCARLETS
            .fixtures-team__logo
              //- img(src='img/logo-scarlets.png' srcset='img/logo-scarlets@2x.png 2x')
              picture(
                alt="image"
                aria-label="SCARLETS logo")
                // 1200 +
                source(
                  media="(min-width: 1200px)" 
                  srcset="https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-scarlets.png 1x, https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-scarlets_2x.png 2x")
                // 1200 - 576 and above
                source(
                  media="(min-width: 576px)" 
                  srcset="https://res.cloudinary.com/dragons/image/upload/c_fill,w_120/v1542801228/Team%20logos/logo-scarlets.png 1x, https://res.cloudinary.com/dragons/image/upload/c_fill,w_240/v1542801228/Team%20logos/logo-scarlets_2x.png 2x")
                // 576px and less
                source(
                  media="(min-width: 0px)" 
                  srcset="https://res.cloudinary.com/dragons/image/upload/c_fill,w_70/v1542801228/Team%20logos/logo-scarlets.png 1x, https://res.cloudinary.com/dragons/image/upload/c_fill,w_140/v1542801228/Team%20logos/logo-scarlets_2x.png 2x")
                // fallback
                img(src="https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-scarlets.png" alt="image description")


        .col-12.col-lg-4.fixtures__col.fixtures__col--center
          .fixtures__counter.counter(js-countdown data-timestamp="May 30, 2019 09:00:00" aria-label="Match countdown")
            .counter__col(js-days)
              .counter__number 00
              .counter__name Days
            .counter__col(js-hours)
              .counter__number 00
              .counter__name Hours
            .counter__col(js-minutes)
              .counter__number 00
              .counter__name Mins
            .counter__col(js-seconds)
              .counter__number 00
              .counter__name Secs
          
          .fixtures__scope
            .fixtures__title(aria-label="Match date") SATURDAY SEPTEMBER 22 <br>KO 5:15 PM
            .fixtures__place(aria-label="Match place") GP 14<br>PRINCIPALITY STADIUM,<br>CARDIFF
            
              
        .col-12.col-lg-4.fixtures__col
          .fixtures-team.fixtures-team--right(itemprop="homeTeam" itemscope itemtype="https://schema.org/SportsTeam")
            meta(itemprop="logo" content="https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-dragons.png")
            meta(itemprop="sport" content="Rubgy")
            .fixtures-team__name(itemprop="name") DRAGONS
            .fixtures-team__logo
              //- img(src='img/logo-dragons.png' srcset='img/logo-dragons@2x.png 2x')
              picture(
                alt="image"
                aria-label="DRAGONS logo")
                // 1200 +
                source(
                  media="(min-width: 1200px)" 
                  srcset="https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-dragons.png 1x, https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-dragons_2x.png 2x")
                source(
                  media="(min-width: 576px)" 
                  srcset="https://res.cloudinary.com/dragons/image/upload/c_fill,w_85/v1542801228/Team%20logos/logo-dragons.png 1x, https://res.cloudinary.com/dragons/image/upload/w_170,c_fill/v1542801228/Team%20logos/logo-dragons_2x.png 2x")
                // 576px and less
                source(
                  media="(min-width: 0px)" 
                  srcset="https://res.cloudinary.com/dragons/image/upload/c_fill,w_50/v1542801228/Team%20logos/logo-dragons.png 1x, https://res.cloudinary.com/dragons/image/upload/c_fill,w_100/v1542801228/Team%20logos/logo-dragons_2x.png 2x")
                // fallback
                img(src="https://res.cloudinary.com/dragons/image/upload/v1542801228/Team%20logos/logo-dragons.png" alt="image description")


      .row.row--no-margin
        .col-12.offset-lg-4.col-lg-4 
          .fixtures__cta
            a(href="#").btn.btn-big.btn-big--black SEE PREVIEW 
            a(href="#").btn.btn-big GET TICKETS
            .fixtures__all-link
              a(href="#").more-link.more-link--white
                span SEE ALL FIXTURES
                +icon('ico-arrow-right')
