// HEADER :: START
header.header
  // TOP
  .header-top(js-header-top)
    .container
      .header__top
        .header__controls
          // socials
          .header__socials.social-icons
            .social-icons__col
              a(href="https://www.facebook.com/dragonsrugby.wales" target="_blank" area-label="Facebook").social-icons__icon.social-icons__icon--facebook
                +icon('ico-social-facebook')
            .social-icons__col
              a(href="https://www.instagram.com/dragonsrugby/" target="_blank" area-label="Instagram").social-icons__icon.social-icons__icon--instagram
                +icon('ico-social-instagram')
            .social-icons__col
              a(href="https://twitter.com/dragonsrugby" target="_blank" area-label="Twitter").social-icons__icon.social-icons__icon--twitter
                +icon('ico-social-twitter')
            .social-icons__col
              a(href="https://www.youtube.com/channel/UCdB_8F9Yqur14jXdSzxyQeA" target="_blank" area-label="YouTube").social-icons__icon.social-icons__icon--youtube
                +icon('ico-social-youtube')
                
          // subscription form
          .header__subscription
            form(action="#" js-subscription-validation).subsc-form
              input.subsc-form__input.ui-input(
                type="email" 
                placeholder="Join our Mailing List"
                id="email"
                name="email")
              button.subsc-form__cta.btn.btn-primary(type="submit") SUBSCRIBE
          
          // cta
          .header__cta
            a(href="#").btn.btn-primary BUY TICKETS
          
          // sponsor
          .header__sponsor
            span.header__sponsor-text Main Club  <br/>Sponsor
            a(href="#").header__sponsor-logo
              i.icon.icon-logo-monmouthshire(area-label="monmouthshire")
  
  // STICKY
  .header-sticky(js-header-sticky)
    .container
      a(href="homepage.html" area-label="Navigate to homepage" js-header-logo).header__logo
        i.icon.icon-logo(area-label="Dragons Logo")

      .header__bottom
        ul.header__menu
          li
            a(href="homepage.html") Home
          li
            a(href="news.html") News
          li
            a(href="#") Tickets
          li
            a(href="#" js-dropdown-menu data-target="teams") Teams
          li
            a(href="#") Match
          li
            a(href="#") REGION
          li
            a(href="#") Shop
          li
            a(href="#") CommerciaL
          li
            a(href="#") Contact
        
        a(href="#").header__flight
          i.icon.icon-logo-small
          span.header__flight-text The FLIGHT
        
        .header__hamburger(area-label="Toggle mobile menu")
          .hamburger.hamburger--squeeze(js-hamburger)
            .hamburger-box
              .hamburger-inner

// header mega menu
.dropdown-menu(data-for="teams" area-label="Dropdown menu for teams")
  .container
    .dropdown-menu__list
      .dropdown-menu__col
        li 
          a(href="squads.html") Players
        li 
          a(href="#") Staff
        li 
          a(href="#") Statistics
      .dropdown-menu__col
        li 
          a(href="#") Academy
        li 
          a(href="#") Dragons Women
        li 
          a(href="#") Past players


// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper
    // menu
    ul.mobile-navi__menu(js-mobile-navi-menu)
      li
        a(href="homepage.html") Home
      li
        a(href="news.html") News
      li
        a(href="#") Tickets
        ul
          li 
            a(href="squads.html") Players
          li 
            a(href="#") Staff
      li
        a(href="#") Teams
        ul
          li 
            a(href="squads.html") Players
          li 
            a(href="#") Staff
          li 
            a(href="#") Statistics
          li 
            a(href="#") Academy
          li 
            a(href="#") Dragons Women
          li 
            a(href="#") Past players
      li
        a(href="#") Match
      li
        a(href="#") REGION
      li
        a(href="#") Shop
        ul
          li 
            a(href="squads.html") Players
          li 
            a(href="#") Staff
      li
        a(href="#") CommerciaL
        ul
          li 
            a(href="squads.html") Players
          li 
            a(href="#") Staff
      li
        a(href="#") Contact
    
    // subscription form
    .mobile-navi__subscription
      .mobile-navi__subscription-title JOIN THE <br/> EVOLUTION
    
      form(action="#" js-subscription-validation-menu).subsc-form.subsc-form--mobile-navi
        input.subsc-form__input.ui-input(
          type="email" 
          placeholder="Join our Mailing List"
          id="email"
          name="email")
        button.subsc-form__cta.btn.btn-primary(type="submit") SUBSCRIBE
            
      
// HEADER :: END
