.share
  .share__title
    span Share
    +icon('ico-share')
  .share__icons
    .share__col
      a(href="#" 
        data-sharer="facebook" 
        data-hashtag="hashtag"
        aria-label="Share on Facebook").share__icon.share__icon--facebook
        +icon('ico-social-facebook')
    .share__col
      a(href="#" 
        data-sharer="twitter" 
        data-title="Pass title" 
        data-hashtags="hash, tags" 
        aria-label="Share on Twitter").share__icon.share__icon--twitter
        +icon('ico-social-twitter')
    .share__col
      a(href="#" 
        onclick="shareGoogle('https://dragons-team.surge.sh/article.html')"
        target="_blank" 
        aria-label="Share on Google Plus").share__icon.share__icon--gplus
        +icon('ico-social-gplus')
      script.
        function shareGoogle(purl) {
          url = 'https://plus.google.com/share?url=' + purl;
          window.open(url,'','toolbar=0,status=0,width=626,height=436')
          return false;
        }

    .share__col
      a(href="https://www.instagram.com/dragonsrugby/" 
        target="_blank" 
        aria-label="Share on Instagram").share__icon.share__icon--instagram
        +icon('ico-social-instagram')
    .share__col
      a(href="https://www.youtube.com/channel/UCdB_8F9Yqur14jXdSzxyQeA" 
        target="_blank" 
        aria-label="Share on YouTube").share__icon.share__icon--youtube
        +icon('ico-social-youtube')
