---
title: Article page
---
extends shared/_layout
block content
  
  // ARTICLE
  article.article(itemscope itemtype="http://schema.org/Article")
    // shema.org hidden
    link(itemprop="mainEntityOfPage" href="https://dragons-team.surge.com/news/charity-news-match-day-collections.html")
    meta(itemprop="inLanguage" content="en")
    meta(itemprop="image" content="https://res.cloudinary.com/dragons/image/upload/v1542370424/Website/articleCover.jpg")
    meta(itemprop="author" content="Dragons Team")
    meta(itemprop="dateModified" content="2018-07-04T09:04:20+02:00")
    div(itemtype="https://schema.org/Organization" itemscope="itemscope" itemprop="publisher")
      link(itemprop="url" href="http://www.dragonsrugby.wales")
      span(itemprop="name" content="Dragons")
      span(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
        link(itemprop="url" href="https://res.cloudinary.com/dragons/image/upload/c_scale,w_150/common/dragons-logo.png")
        meta(itemprop="width" content="150")
        meta( temprop="height" content="169")
      meta(itemprop="sameAs" content="https://www.facebook.com/dragonsrugby.wales")
      meta(itemprop="sameAs" content="https://www.instagram.com/dragonsrugby/")
      meta(itemprop="sameAs" content="https://twitter.com/dragonsrugby")
      meta(itemprop="sameAs" content="https://www.youtube.com/channel/UCdB_8F9Yqur14jXdSzxyQeA")
            
            
    // head
    .article__head(aria-label="Article heading section")
      // as cover image is at unknown asepct ration, the background is set with dynamic js height (it's covering 50% of image height)
      .article__head-bg(js-set-article-bg-height)
      .container
        .row
          .col-12.col-md
            h1.h1-title(itemprop="name") CHARITY NEWS &amp;<br> MATCH DAY <br>COLLECTIONS
          .col-12.col-md-auto
            .article__share(aria-label="Share this article")
              include components/_share
        
        // cover image
        .article__cover(aria-label="Article cover image section")
          //- img(src='img/articleCover.jpg' srcset='img/articleCover@2x.jpg')
          // kind of reverse mobile-first approach. First matching media rule will be displayed
          // image options https://cloudinary.com/documentation/image_transformations
          // aspect ration - ar_16:9
          // fill mode - c_fill
          // width - w_1824
          // filters - g_auto,e_sharpen
          
          picture(
            alt="image"
            aria-label="Image description"
            js-lazy 
            data-src="https://res.cloudinary.com/dragons/image/upload/v1542370424/Website/articleCover.jpg")
            // 992 and above
            data-src(
              media="(min-width: 992px)" 
              srcset="https://res.cloudinary.com/dragons/image/upload/e_sharpen/v1542370424/Website/articleCover.jpg 1x, https://res.cloudinary.com/dragons/image/upload/e_sharpen/v1542370424/Website/articleCover_2x.jpg 2x")
            // 992 - 576px
            data-src(
              media="(min-width: 576px)" 
              srcset="https://res.cloudinary.com/dragons/image/upload/c_fill,w_912,g_auto,e_sharpen/v1542370424/Website/articleCover.jpg 1x, https://res.cloudinary.com/dragons/image/upload/c_fill,w_1824,e_sharpen/v1542370424/Website/articleCover_2x.jpg 2x")
            // 576px and less
            data-src(
              media="(min-width: 0px)" 
              srcset="https://res.cloudinary.com/dragons/image/upload/ar_16:9,c_fill,w_536,e_sharpen/v1542370424/Website/articleCover.jpg 1x, https://res.cloudinary.com/dragons/image/upload/ar_16:9,c_fill,w_1072,e_sharpen/v1542370424/Website/articleCover_2x.jpg 2x")
            
            // fallback
            //- img(src="https://res.cloudinary.com/dragons/image/upload/v1542370424/Website/articleCover.jpg")

    // content
    .article__wrapper
      // content head
      .article__content-info
        .container
          .row
            .col-12.col-sm
              .article__date(datetime="2012-01-01T09:04:20+00:00" itemprop="datePublished") 01 January 2012
            .col-12.col-sm-auto
              a(href="#").more-link
                span Related articles
                +icon('ico-arrow-right')
      
      // content wysiwyg
      // this class is important for below class-free elements (wysiwyg generated)
      .article__content(aria-label="Article content section")
        .container
          .row
            .col-12.col-lg-7
              h2(itemprop="headline") Dragons Match Day collections &amp;&nbsp;charity support
          
          .row
            .col-12.col-lg-7(itemprop="articleBody")
              p In&nbsp;support of&nbsp;Local &amp;&nbsp;National charities, the Dragons provide the opportunity to&nbsp;perform a&nbsp;collection at&nbsp;each home match of&nbsp;the season. This offer proves very popular as&nbsp;it&nbsp;enables valuable funds to&nbsp;be&nbsp;raised. The collectors also receive up&nbsp;to&nbsp;a&nbsp;dozen complimentary tickets to&nbsp;watch the match after their efforts in&nbsp;collecting. To&nbsp;apply for a&nbsp;collection please contact Community Manager, Mike Sage via email&nbsp;on <a href="mailto:mike.sage@dragonsrugby.wales">mike.sage@dragonsrugby.wales</a>
       
              h3 MATCHDAY TICKET VOUCHERS
              p To&nbsp;apply for Dragons match day ticket vouchers to&nbsp;raffle or&nbsp;auction to&nbsp;raise valuable funds, please apply by&nbsp;e-mail to <a href="mailto:info@dragonsrugby.wales">info@dragonsrugby.wales</a>
       
              h3 MATCHDAY ENTERTAINMENT
              p If&nbsp;you feel you have a&nbsp;talent and want to&nbsp;Perform on&nbsp;Parade, we&nbsp;have the perfect opportunities in&nbsp;our family zone or&nbsp;pitch side. For further info contact <a href="mailto:mike.sage@dragonsrugby.wales">mike.sage@dragonsrugby.wales</a>
              p We&nbsp;regularly have the Dragons Choir&nbsp;&mdash; C&ocirc;r y&nbsp;Dreigiau&nbsp;&mdash; perform at&nbsp;our home games. C&ocirc;r y&nbsp;Dreigiau are available to&nbsp;hire for any occasion and are always happy to&nbsp;welcome new members. So&nbsp;if&nbsp;you like them and you share a&nbsp;passion for both singing and rugby, then why not join in&nbsp;with one of&nbsp;their rehearsals?
                br
                | Further details on&nbsp;the choir can be&nbsp;found at&nbsp;<a href="www.corydreigiau.org" target="_blank">www.corydreigiau.org</a>
                
            .col-12.offset-0.col-lg-4.offset-lg-1
              blockquote This team is&nbsp;still growing and we&rsquo;re reasonably content, although we&nbsp;still have a&nbsp;lot of&nbsp;work to&nbsp;do.
  
  include components/_sponsors
