---
title: Article news page
---
extends shared/_layout
block content
  
  // ARTICLE
  article.article(itemscope itemtype="http://schema.org/Article")
    // shema.org hidden
    link(itemprop="mainEntityOfPage" href="https://dragons-team.surge.com/news/charity-news-match-day-collections.html")
    meta(itemprop="inLanguage" content="en")
    meta(itemprop="image" content="https://res.cloudinary.com/dragons/image/upload/v1542697390/Website/articleCover_2.jpg")
    meta(itemprop="author" content="Dragons Team")
    meta(itemprop="dateModified" content="2018-07-04T09:04:20+02:00")
    div(itemtype="https://schema.org/Organization" itemscope="itemscope" itemprop="publisher")
      link(itemprop="url" href="http://www.dragonsrugby.wales")
      span(itemprop="name" content="Dragons")
      span(itemprop="logo" itemscope itemtype="https://schema.org/ImageObject")
        link(itemprop="url" href="https://res.cloudinary.com/dragons/image/upload/c_scale,w_150/common/dragons-logo.png")
        meta(itemprop="width" content="150")
        meta( temprop="height" content="169")
      meta(itemprop="sameAs" content="https://www.facebook.com/dragonsrugby.wales")
      meta(itemprop="sameAs" content="https://www.instagram.com/dragonsrugby/")
      meta(itemprop="sameAs" content="https://twitter.com/dragonsrugby")
      meta(itemprop="sameAs" content="https://www.youtube.com/channel/UCdB_8F9Yqur14jXdSzxyQeA")
    
    
    // scroll fixed header    
    .article-fixed-header(js-article-fixed-header)
      .container
        .h3-title(js-populate-content data-target=".h1-title")
        
    // head
    .article__head
      // as cover image is at unknown asepct ration, the background is set with dynamic js height (it's covering 50% of image height)
      .article__head-bg(js-set-article-bg-height)
      .container
        .row
          .col-12.col-md
            h1.h1-title(itemprop="name") JACKMAN PLEASED BY&nbsp;MANNER OF&nbsp;<br/>ZEBRE VICTORY
              
          .col-12.col-md-auto
            .article__share
              include components/_share
        
        .row
          .col-12.col-md-8
            p.article__head-headline(itemprop="headline") Head Coach Bernard Jackman was pleased with the manner in which his Dragons managed the wet conditions and Zebre to secure a key Guinness PRO14 victory.
        // cover image
        .article__cover
          //- img(src='img/articleCover.jpg' srcset='img/articleCover@2x.jpg')
          // kind of reverse mobile-first approach. First matching media rule will be displayed
          // image options https://cloudinary.com/documentation/image_transformations
          // aspect ration - ar_16:9
          // fill mode - c_fill
          // width - w_1824
          // filters - g_auto
          
          figure
            picture(
              alt="image"
              area-label="Image description"
              js-lazy 
              data-src="https://res.cloudinary.com/dragons/image/upload/v1542697390/Website/articleCover_2.jpg")
              // 992 and above
              data-src(
                media="(min-width: 992px)" 
                srcset="https://res.cloudinary.com/dragons/image/upload/v1542697390/Website/articleCover_2.jpg 1x, https://res.cloudinary.com/dragons/image/upload/v1542697390/Website/articleCover_2_2x.jpg 2x")
              // 992 - 576px
              data-src(
                media="(min-width: 576px)" 
                srcset="https://res.cloudinary.com/dragons/image/upload/c_fill,w_912,g_auto/v1542697390/Website/articleCover_2.jpg 1x, https://res.cloudinary.com/dragons/image/upload/c_fill,w_1824/v1542697390/Website/articleCover_2_2x.jpg 2x")
              // 576px and less
              data-src(
                media="(min-width: 0px)" 
                srcset="https://res.cloudinary.com/dragons/image/upload/ar_16:9,c_fill,w_536/v1542697390/Website/articleCover_2.jpg 1x, https://res.cloudinary.com/dragons/image/upload/ar_16:9,c_fill,w_1072/v1542697390/Website/articleCover_2_2x.jpg 2x")
              
              // fallback
              //- img(src="https://res.cloudinary.com/dragons/image/upload/v1542697390/Website/articleCover_2.jpg")
            figcaption Ben Mottram | 22/09/2018
              
    // content
    .article__wrapper.article__wrapper--with-video
      
      .article__content-info
        
      // content wysiwyg
      // this class is important for below class-free elements (wysiwyg generated)
      .article__content
        .container
          .row
            .col-12
              .article__bookmark
                a(href="#")
                  +icon('ico-bookmark')
                
          .row
            .col-12.col-lg-8.col-xl-7(itemprop="articleBody")
              p Fly half Arwel Robson and wing Dafydd Howells scored crucial first half tries as&nbsp;the Dragons controlled territory and possession in&nbsp;wet and blustery weather. 
              p &laquo;We&nbsp;know how hard it&nbsp;is&nbsp;to&nbsp;get a&nbsp;win in&nbsp;this competition so&nbsp;we&nbsp;are pleased,&raquo; said Jackman.
              p &quot;Our defence looked much more comfortable and to&nbsp;only concede five points against a&nbsp;team like Zebre, who like to&nbsp;offload and run from their own half, is&nbsp;good. 
              p &quot;We&nbsp;felt quite comfortable and we&nbsp;made a&nbsp;step forward. We&nbsp;closed the game out comfortably too and I&rsquo;m happy with four points.
              p &quot;There are elements of&nbsp;the performance that we&nbsp;are frustrated&nbsp;by. We&nbsp;didn&rsquo;t convert some opportunities in&nbsp;their 22&nbsp;and lost some cohesion at&nbsp;the attacking ruck and got turned over a&nbsp;few times.
              p &quot;But our scrum was rock solid and our kicking game was good and we&nbsp;dominated territory. In&nbsp;the conditions that was smart. 
              p &laquo;I&nbsp;know people said we&nbsp;had an&nbsp;easy run, but the Kings beat Glasgow today and we&nbsp;certainly feel that they are on&nbsp;the&nbsp;up. Benetton Rugby and Zebre are more than competitive if&nbsp;you let them play.
              p &laquo;This team is&nbsp;still growing and we&rsquo;re reasonably content, although we&nbsp;still have a&nbsp;lot of&nbsp;work to&nbsp;do.&raquo;
              p Dragons now travel to&nbsp;Glasgow Warriors next Saturday evening and Jackman is&nbsp;keen for his team to&nbsp;show they are taking steps forward.
              p &laquo;Glasgow are an&nbsp;excellent side and topped the league last year in&nbsp;terms of&nbsp;points,&raquo; he&nbsp;said.
              p &quot;We&nbsp;saw the result with Kings and followed&nbsp;it. We&nbsp;will have a&nbsp;look at&nbsp;the game tonight, but we&nbsp;know we&nbsp;are going to&nbsp;a&nbsp;4G&nbsp;pitch and it&nbsp;will be&nbsp;a&nbsp;fast tempo game.
              p &laquo;It&nbsp;will show&nbsp;us what we&nbsp;learnt from Leinster because they like to&nbsp;have a&nbsp;lot of&nbsp;possession. Then we&nbsp;have the Blues to&nbsp;finish off this block, they are coming thick and heavy.
              p &laquo;If&nbsp;you start panicking because of&nbsp;outside criticism or&nbsp;people trying to&nbsp;doubt you then you will stray away from your philosophy,&raquo; he&nbsp;added.
              p &laquo;We&nbsp;wouldn&rsquo;t have panicked if&nbsp;we&nbsp;had lost today, but it&nbsp;makes life easier when you win. The boys will have a&nbsp;smile on&nbsp;their face on&nbsp;Monday morning.
              p &laquo;We&nbsp;know there are things to&nbsp;fix, but it&nbsp;is&nbsp;easier on&nbsp;the back of&nbsp;four points.&raquo; 
              p Dragons return to&nbsp;action at&nbsp;Rodney Parade against Cardiff Blues on&nbsp;Saturday 6&nbsp;October, 5.15pm. Early bird tickets are available until midnight Friday.
              p
                a.c-red(href="#") CLICK HERE to&nbsp;secure your tickets for the game.
              
            .col-12.col-lg-4.offset-xl-1
              blockquote This team is&nbsp;still growing and we&rsquo;re reasonably content, although we&nbsp;still have a&nbsp;lot of&nbsp;work to&nbsp;do.
    
    // article video
    .article-video
      .container
        .col-12.col-md-8.offset-md-2
          .iframe-scaler(data-ar="16:9")
            iframe(src="https://www.youtube.com/embed/A8njVwwjNnQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    
    // article share
    .article-share
      .container
        include components/_share
    
  include components/_sponsors
